.card{
	border: solid black 2px;
	border-radius: 1.5em;
	white-space: nowrap;
	display: inline-block;
	
	min-height: 20em;
	max-height: 20em;
	min-width: 15em;
	max-width: 15em;

	padding: 0px;
}

.card .img {
	position: relative;
	overflow:hidden;
	/*
	margin: 2%;
	padding: 0px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	*/
}

.card .info{
	color: black;
	text-align: center;
}

.card img{
	border-top-left-radius: 1.4em;
	border-top-right-radius: 1.4em;
	min-width: 100%;
	max-width: 100%;
	min-height: 15em;
	max-height: 15em;
	
}*/

.career_info{
	color: red;
}